{% if version.dist in ['deb12', 'sid'] %}
etc/polkit/firehpc.rules usr/share/polkit-1/rules.d
{% else %}
etc/polkit/firehpc.pkla var/lib/polkit-1/localauthority/10-vendor.d
{% endif %}
etc/system/*.service lib/systemd/system
etc/vendor/* usr/share/firehpc
conf usr/share/firehpc
ansible-connection-machinectl/connection_plugins usr/share/firehpc/extra
lib/exec/firehpc-*-wrapper usr/libexec
etc/sysusers/*.conf usr/lib/sysusers.d
