{% if version.dist in ['deb11'] %}
etc/polkit/firehpc.pkla var/lib/polkit-1/localauthority/10-vendor.d
{% else %}
etc/polkit/firehpc.rules usr/share/polkit-1/rules.d
{% endif %}
etc/system/*.service usr/lib/systemd/system
etc/vendor/* usr/share/firehpc
etc/os usr/share/firehpc
conf usr/share/firehpc
ansible-connection-machinectl/connection_plugins usr/share/firehpc/extra
lib/exec/firehpc-*-wrapper usr/libexec
lib/ansible/filters/* usr/share/firehpc/extra/filter_plugins
etc/sysusers/*.conf usr/lib/sysusers.d
