{% if version.major == 22 %}
  {% set soname = 38 %}
{% elif version.major == 21 %}
  {% set soname = 37 %}
{% endif %}
deb/libslurmN.install deb/libslurm{{ soname }}.install
deb/libslurmN.symbols.j2 deb/libslurm{{ soname }}.symbols.j2
deb/libslurmN.lintian-overrides deb/libslurm{{ soname }}.lintian-overrides
