Source: rfl
Section: python
Priority: optional
Maintainer: HPCKit team <maintainers@hpck.it>
Homepage: https://github.com/rackslab/RFL
Build-Depends:
 debhelper-compat (= 13),
 python3-all (>= 3.6),
 python3-setuptools,
 python3-fake-factory,
 dh-python,
 pybuild-plugin-pyproject,
 python3-yaml,
Standards-Version: 4.2.1

Package: python3-rfl
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-rfl-authentication (= ${binary:Version}),
 python3-rfl-build (= ${binary:Version}),
 python3-rfl-core (= ${binary:Version}),
 python3-rfl-log (= ${binary:Version}),
 python3-rfl-permissions (= ${binary:Version}),
 python3-rfl-settings (= ${binary:Version}),
 python3-rfl-web (= ${binary:Version}),
Description: Rackslab Foundation Library: all packages
 RFL is a Python library and a set of common utilities useful to most Rackslab
 software solutions.
 This package is a metapackage to install all RFL packages.

Package: python3-rfl-authentication
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-rfl-core (= ${binary:Version}),
Description: Rackslab Foundation Library: authentication package
 RFL is a Python library and a set of common utilities useful to most Rackslab
 software solutions.
 This package includes authentication package of RFL.

Package: python3-rfl-build
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
 ninja-build,
Description: Rackslab Foundation Library: build package
 RFL is a Python library and a set of common utilities useful to most Rackslab
 software solutions.
 This package includes build package of RFL.

Package: python3-rfl-core
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Rackslab Foundation Library: core package
 RFL is a Python library and a set of common utilities useful to most Rackslab
 software solutions.
 This package includes core package of RFL.

Package: python3-rfl-log
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Rackslab Foundation Library: log package
 RFL is a Python library and a set of common utilities useful to most Rackslab
 software solutions.
 This package includes log package of RFL.

Package: python3-rfl-permissions
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-rfl-core (= ${binary:Version}),
 python3-rfl-authentication (= ${binary:Version}),
Description: Rackslab Foundation Library: permissions package
 RFL is a Python library and a set of common utilities useful to most Rackslab
 software solutions.
 This package includes permissions package of RFL.

Package: python3-rfl-settings
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-rfl-core (= ${binary:Version}),
Description: Rackslab Foundation Library: settings package
 RFL is a Python library and a set of common utilities useful to most Rackslab
 software solutions.
 This package includes settings package of RFL.

Package: python3-rfl-web
Architecture: all
Section: python
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-rfl-authentication (= ${binary:Version}),
 python3-rfl-permissions (= ${binary:Version}),
Description: Rackslab Foundation Library: web package
 RFL is a Python library and a set of common utilities useful to most Rackslab
 software solutions.
 This package includes web package of RFL.
