{% if version.main.startswith('24.11') %}
  {% set soname = 42 %}
{% elif version.main.startswith('24.05') %}
  {% set soname = 41 %}
{% elif version.main.startswith('23.11') %}
  {% set soname = 40 %}
{% elif version.main.startswith('23.02') %}
  {% set soname = 39 %}
{% endif %}
usr/include/slurm/slurm_errno.h
usr/include/slurm/slurm_version.h
usr/include/slurm/slurm.h
usr/include/slurm/slurmdb.h
{% if soname < 41 %}
usr/include/slurm/smd_ns.h
{% endif %}
usr/include/slurm/spank.h
usr/lib/*/libslurm.a
usr/lib/*/libslurm.la
usr/lib/*/libslurm.so
